<div class="content-header" id="obitos">
  <div class="container">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Óbitos</h1>
      </div>
      <div class="col-sm-6">

      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-body">
          <p class="text-center" style="font-size:36px">{{ countDeaths }}</p>
          <p class="text-center">Óbitos</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-body">
          <p class="text-center" style="font-size:36px">{{ letalidade | number : '1.2-2' }}%</p>
          <p class="text-center">Letalidade</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-body">
          <p class="text-center" style="font-size:36px">{{ mediaObitosDia | number : '1.2-2'}}</p>
          <p class="text-center">Média por dia</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-body">
          <p class="text-center" style="font-size:36px">{{ mortalidade | number : '1.2-2' }}</p>
          <p class="text-center">Mortalidade</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-12">
      <div class="card">
        <div class="card-header border-0">
          <div class="d-flex justify-content-between">
            <h3 class="card-title">Distribuição dos óbitos por data de notificação</h3>
            <!-- <a href="javascript:void(0);">View Report</a> -->
          </div>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-lg-12 " style="width: 100%; height: 300px;">
              <ngx-charts-bar-vertical
                [barPadding]="5"
                [scheme]="colorScheme"
                [results]="data"
                [xAxis]="true"
                [yAxis]="true"
                [gradient]="false">
              </ngx-charts-bar-vertical>
            </div>

          </div>

          <div class="d-flex flex-row justify-content-end pt-3">
            <span class="mr-2">
              <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" id="customRadioObitos1" name="customRadioObitos" (click)="setObitosAcumulado()">
                <label for="customRadioObitos1" class="custom-control-label">Acumulado</label>
              </div>
            </span>

            <span>
              <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" id="customRadioObitos2" name="customRadioObitos" (click)="setObitosPordia()" checked>
                <label for="customRadioObitos2" class="custom-control-label">Por dia</label>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-6 col-md-12">

      <div class="card">
        <div class="card-header border-0">
          <div class="d-flex justify-content-between">
            <h3 class="card-title">Óbitos por sexo</h3>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 " style="width: 100%; height: 300px;">
              <ngx-charts-pie-chart
                [scheme]="colorSchemeDeathsByGender"
                [labels]="false"
                [results]="deathsByGender"
                [doughnut]="true">
              </ngx-charts-pie-chart>
            </div>

          </div>

          <div class="d-flex flex-row justify-content-end pt-3">
            <span class="mr-2">
              <i class="fas fa-square" style="color: #97CBEC"></i> 63% Masculino
            </span>

            <span>
              <i class="fas fa-square" style="color: #F7ABD5"></i> 37% Feminino
            </span>
          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-6 col-md-12">

      <div class="card">
        <div class="card-header border-0">
          <div class="d-flex justify-content-between">
            <h3 class="card-title">Óbitos por idade</h3>
          </div>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-lg-12 " style="width: 100%; height: 300px;">
              <ngx-charts-bar-vertical
                [scheme]="colorScheme"
                [results]="deathsByAge"
                [xAxis]="true"
                [yAxis]="true"
                [gradient]="false">
              </ngx-charts-bar-vertical>
            </div>

          </div>

          <div class="d-flex flex-row justify-content-end pt-3">
            <span class="mr-2">
              <i class="fas fa-square" style="color: #7d6b80"></i> {{countDeaths}} Óbitos
            </span>

          </div>

        </div>
      </div>

    </div>

  </div>

</div>
