<div class="content-header" id="casos">
  <div class="container">
    <div class="row mb-2 mt-3">
      <div class="col-sm-8">
        <h1 class="m-0">Casos Confirmados</h1>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <select class="form-control" name="estado" (change)="selectEstado($event.target.value)">
            <option [value]="e.uf" *ngFor="let e of estados">{{e.nome}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">

      <div class="info-box">
        <span class="info-box-icon bg-gradient-success"><i class="fas fa-viruses"></i></span>

        <div class="info-box-content text-center">
          <span class="info-box-number" style="font-size: 28px">
            <tm-ng-odometer [number]="countCasos" [config]="{ format: '(.ddd)'}"></tm-ng-odometer>
          </span>
          <span class="info-box-text pt-2">Confirmados</span>
        </div>

      </div>

    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="info-box">
        <span class="info-box-icon bg-gradient-success"><i class="fas fa-shield-virus"></i></span>

        <div class="info-box-content text-center">
          <span class="info-box-number" style="font-size: 28px">
            <tm-ng-odometer [number]="countCasosRecuperados" [config]="{ format: '(.ddd)'}"></tm-ng-odometer>
          </span>
          <span class="info-box-text pt-2">Recuperados</span>
        </div>

      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="info-box">
        <span class="info-box-icon bg-gradient-success"><i class="fas fa-head-side-virus"></i></span>

        <div class="info-box-content text-center">
          <span class="info-box-number" style="font-size: 28px">
            <tm-ng-odometer [number]="countCasosAtivos" [config]="{ format: '(.ddd)'}"></tm-ng-odometer>
          </span>
          <span class="info-box-text pt-2">Ativos</span>
        </div>

      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="info-box">
        <span class="info-box-icon bg-gradient-success"><i class="fas fa-users"></i></span>

        <div class="info-box-content text-center">
          <span class="info-box-number" style="font-size: 28px">
            <tm-ng-odometer [number]="casosTxIncidencia" [config]="{ format: '(ddd),dd' }"></tm-ng-odometer>
            <!-- {{casosTxIncidencia | number : '1.2-2'}} -->
          </span>
          <span class="info-box-text pt-2">Incidência por 100k/hab</span>
        </div>

      </div>
    </div>

  </div>

  <div class="row" *ngIf="false">

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-body">
          <p class="text-center" style="font-size:36px">{{countCasos}}</p>
          <p class="text-center">Confirmados</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-body">
          <p class="text-center" style="font-size:36px">{{countCasosRecuperados}}</p>
          <p class="text-center">Recuperados</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-body">
          <p class="text-center" style="font-size:36px">{{countCasosAtivos}}</p>
          <p class="text-center">Ativos</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-body">
          <p class="text-center" style="font-size:36px">{{casosTxIncidencia | number : '1.2-2'}}</p>
          <p class="text-center">Incidência por 100k/hab</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-12">
      <div class="card">
        <div class="card-header border-0">
          <div class="d-flex justify-content-between">
            <h3 class="card-title">Casos de COVID-19 por data de notificação</h3>
          </div>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-lg-12" style="width: 100%; height: 300px;">
              <ngx-charts-bar-vertical *ngIf="!loadingCasos"
                [barPadding]="5"
                [scheme]="colorScheme"
                [legend]="false"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [results]="dadosCasos"
                [gradient]="false">
              </ngx-charts-bar-vertical>
            </div>

          </div>

          <div class="d-flex flex-row justify-content-end pt-3">
            <span class="mr-2">
              <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" id="customRadio1" name="customRadio" (click)="setDataAcumulado()">
                <label for="customRadio1" class="custom-control-label">Acumulado</label>
              </div>
            </span>

            <span>
              <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" id="customRadio2" name="customRadio" checked (click)="setDataPordia()">
                <label for="customRadio2" class="custom-control-label">Por dia</label>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-6 col-md-12" *ngIf="hasCasesByGender">

      <div class="card">
        <div class="card-header border-0">
          <div class="d-flex justify-content-between">
            <h3 class="card-title">Casos por gênero</h3>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 " style="width: 100%; height: 300px;">
              <!-- <ngx-charts-pie-chart
                [scheme]="colorSchemeByGender"
                [labels]="false"
                [results]="casesByGender"
                [doughnut]="true">
              </ngx-charts-pie-chart> -->
              <ngx-charts-pie-grid
                [scheme]="colorSchemeByGender"
                [results]="casesByGender">
              </ngx-charts-pie-grid>
            </div>

          </div>

          <!-- <div class="d-flex flex-row justify-content-center pt-3">
            <span class="mr-2">
              <i class="fas fa-square" style="color: #97CBEC"></i>
            </span>

            <span>
              <i class="fas fa-square" style="color: #F7ABD5"></i>
            </span>
          </div> -->
        </div>
      </div>

    </div>

    <div class="col-lg-6 col-md-12" *ngIf="hasCasesByAge">

      <div class="card">
        <div class="card-header border-0">
          <div class="d-flex justify-content-between">
            <h3 class="card-title">Casos por idade (em anos)</h3>
          </div>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-lg-12 " style="width: 100%; height: 300px;">
              <ngx-charts-bar-vertical
                [scheme]="colorSchemeCasesByAge"
                [results]="casesByAge"
                [xAxis]="true"
                [yAxis]="true"
                [gradient]="false">
              </ngx-charts-bar-vertical>
            </div>

          </div>

          <!-- <div class="d-flex flex-row justify-content-end pt-3">
            <span class="mr-2">
              <i class="fas fa-square" style="color: #5AA454"></i> {{countCasos}} Casos
            </span>
          </div> -->

        </div>
      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header border-0">
          <div class="d-flex justify-content-between">
            <h3 class="card-title"></h3>
          </div>
        </div>
        <div class="card-body">
          <div class="col-sm-12" style="width: 100%; height: 200px;">
            <ngx-charts-pie-grid
              [scheme]="colorScheme"
              [results]="dataStatusCases">
            </ngx-charts-pie-grid>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<div class="content-header" id="obitos">
  <div class="container">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Óbitos</h1>
      </div>
      <div class="col-sm-6">

      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">

      <div class="info-box">
        <span class="info-box-icon bg-success" style="background-color: #7d6b80 !important"><i class="fas fa-virus-slash"></i></span>

        <div class="info-box-content text-center">
          <span class="info-box-number" style="font-size: 28px">
            <tm-ng-odometer [number]="countObitos" [config]="{ format: '(.ddd)'}"></tm-ng-odometer>
          </span>
          <span class="info-box-text pt-2">Óbitos</span>
        </div>

      </div>

    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="info-box">
        <span class="info-box-icon bg-success" style="background-color: #7d6b80 !important"><i class="fas fa-procedures"></i></span>

        <div class="info-box-content text-center">
          <span class="info-box-number" style="font-size: 28px">
            <tm-ng-odometer [number]="obitosTxLetalidade" [config]="{ format: '(d),dd'}"></tm-ng-odometer>%
            <!-- {{obitosTxLetalidade | number : '1.2-2'}}% -->
          </span>
          <span class="info-box-text pt-2">Letalidade</span>
        </div>

      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="info-box">
        <span class="info-box-icon bg-success" style="background-color: #7d6b80 !important"><i class="far fa-calendar-times"></i></span>

        <div class="info-box-content text-center">
          <span class="info-box-number" style="font-size: 28px">
            <tm-ng-odometer [number]="obitosUltimoPeriodo" [config]="{ }"></tm-ng-odometer>
          </span>
          <span class="info-box-text pt-2">Último período</span>
        </div>

      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="info-box">
        <span class="info-box-icon bg-success" style="background-color: #7d6b80 !important"><i class="fas fa-users"></i></span>

        <div class="info-box-content text-center">
          <span class="info-box-number" style="font-size: 28px">
            <tm-ng-odometer [number]="obitosTxMortalidade" [config]="{ format: '(ddd),dd' }"></tm-ng-odometer>
            <!-- {{obitosTxMortalidade | number : '1.2-2'}} -->
          </span>
          <span class="info-box-text pt-2">Mortalidade 100k/hab</span>
        </div>

      </div>
    </div>

  </div>

  <div class="row" *ngIf="false">

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-body">
          <p class="text-center" style="font-size:36px">{{ countObitos }}</p>
          <p class="text-center">Óbitos</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-body">
          <p class="text-center" style="font-size:36px">{{ obitosTxLetalidade | number : '1.2-2' }}%</p>
          <p class="text-center">Letalidade</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-body">
          <p class="text-center" style="font-size:36px">{{ obitosUltimoPeriodo }}</p>
          <p class="text-center">Último período</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card">
        <div class="card-body">
          <p class="text-center" style="font-size:36px">{{ obitosTxMortalidade | number : '1.2-2' }}</p>
          <p class="text-center">Tx Mortalidade 100k/hab</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-12">
      <div class="card">
        <div class="card-header border-0">
          <div class="d-flex justify-content-between">
            <h3 class="card-title">Óbitos de COVID-19 por data de notificação</h3>
            <!-- <a href="javascript:void(0);">View Report</a> -->
          </div>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-lg-12 " style="width: 100%; height: 300px;">
              <ngx-charts-bar-vertical *ngIf="!loadingObitos"
                [barPadding]="5"
                [scheme]="obitosColorScheme"
                [results]="dadosObitos"
                [xAxis]="true"
                [yAxis]="true"
                [gradient]="false">
              </ngx-charts-bar-vertical>
            </div>

          </div>

          <div class="d-flex flex-row justify-content-end pt-3">
            <span class="mr-2">
              <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" id="customRadioObitos1" name="customRadioObitos" (click)="setObitosAcumulados()">
                <label for="customRadioObitos1" class="custom-control-label">Acumulado</label>
              </div>
            </span>

            <span>
              <div class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" id="customRadioObitos2" name="customRadioObitos" (click)="setObitosPordia()" checked>
                <label for="customRadioObitos2" class="custom-control-label">Por dia</label>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-6 col-md-12" *ngIf="hasObitosByGender">

      <div class="card">
        <div class="card-header border-0">
          <div class="d-flex justify-content-between">
            <h3 class="card-title">Óbitos por gênero</h3>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12 " style="width: 100%; height: 300px;">
              <!-- <ngx-charts-pie-chart
                [scheme]="colorSchemeByGender"
                [labels]="false"
                [results]="obitosByGender"
                [doughnut]="true">
              </ngx-charts-pie-chart> -->

              <ngx-charts-pie-grid
                [scheme]="colorSchemeByGender"
                [results]="obitosByGender">
              </ngx-charts-pie-grid>
            </div>

          </div>

          <!-- <div class="d-flex flex-row justify-content-end pt-3">
            <span class="mr-2">
              <i class="fas fa-square" style="color: #97CBEC"></i> % Masculino
            </span>
            <span>
              <i class="fas fa-square" style="color: #F7ABD5"></i> % Feminino
            </span>
          </div> -->
        </div>
      </div>

    </div>

    <div class="col-lg-6 col-md-12" *ngIf="hasObitosByAge">

      <div class="card">
        <div class="card-header border-0">
          <div class="d-flex justify-content-between">
            <h3 class="card-title">Óbitos por idade (em anos)</h3>
          </div>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-lg-12 " style="width: 100%; height: 300px;">
              <ngx-charts-bar-vertical
                [scheme]="obitosColorScheme"
                [results]="obitosByAge"
                [xAxis]="true"
                [yAxis]="true"
                [gradient]="false">
              </ngx-charts-bar-vertical>
            </div>

          </div>

          <!-- <div class="d-flex flex-row justify-content-end pt-3">
            <span class="mr-2">
              <i class="fas fa-square" style="color: #7d6b80"></i> {{countObitos}} Óbitos
            </span>
          </div> -->

        </div>
      </div>

    </div>

  </div>

</div>
