<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
      <a href="#" class="navbar-brand">
        <img src="./assets/img/virus.svg" alt="Covid-19" class="brand-image img-circle"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Coronavirus</span>
      </a>

      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse order-3 justify-content-end" id="navbarCollapse">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="#casos" class="nav-link">Casos</a>
          </li>
          <li class="nav-item">
            <a href="#obitos" class="nav-link">Óbitos</a>
          </li>
        </ul>

      </div>

    </div>
  </nav>
  <!-- /.navbar -->

  <div class="content-wrapper">

    <app-cases></app-cases>

  </div>

</div>
